.hero{
    padding: 5rem;
    max-width: 540px;
}
.prehero{
    border: 1px solid #FFA50B;
    /* padding: 10px; */
    border-radius: 10px;
    width: 270px;
    display: flex;
    font-size: 15px;
    
}
.cap{
    width: 50px;

}
.heroHeading{
    font-size: 3rem;
    font: bolder;
    color: rgba(0, 0, 0, 0.646);
}
.button{
    display: flex;
}
.enroll-btn {
    margin-left: 2rem;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    background-color: #357c84;
    color: #fff;
    cursor: pointer;
    width: 120px;
    height: 40px;
  }
  .know-btn {
    margin-left: 2rem;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #000000;
    cursor: pointer;
    /* width: 200px; */
  }
  .highlight{
    font-size: 10px;
    display: flex;
    margin-bottom: 20px;
  }
  .cantent{
    background-color: #FFF4C5;
    margin: 10px;
    /* padding: 5px; */
    border-radius: 15px;
    display: flex;
    padding-right: 15px;
    /* width: 200px; */
  }
  .AwardStar{
    padding: 5px;
    width: 25px;
    height: 25px;
    
  }


 @media (max-width: 768px) {
    .highlight {
      flex-wrap: wrap;
    }
  .button{
    flex-direction: column;
  }
  .enroll-btn{
    width: 60vw;
    margin-right: 40px;
    margin-left: 0px;
  }
  .know-btn{
    width: 60vw;
    margin-right: 40px;
    margin-left: 0px;
  }
  }